/*** navigation ***/

.nav {
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 2%;
    position: absolute;
    color: #FFF;
}

.nav.bottom {
    background-color: #3C3F50;
}

.nav .logo {
    text-transform: uppercase;
    font-size: 25px;
    float: left;
    padding-left: 55px;
}

.nav .logo img {
    left: 2%;
    margin-top: 10px;
    height: 40px;
    position: absolute;
}

.nav .menu {
    float: right;
}

.nav .menu a {
    margin: 0 10px;
    color: rgba(255, 255, 255, .9);
    text-transform: uppercase;
}

.nav .menu a:hover {
    color: #FFF;
}

.hero {
    display: block;
    height: 700px;
    background-color: #3C3F50;
}

.hero .content {
    color: #FFF;
    height: 300px;
    position: absolute;
    width: 100%;
    margin-top: 200px;
    z-index: 1;
    text-align: center;
}

.hero .content h1 {
    font-size: 42px;
    font-weight: lighter;
    text-transform: uppercase;
}

.hero .content p {
    margin: 10px 0;
    font-size: 20px;
    color: rgba(255, 255, 255, .7);
}

.hero .chart {
    width: 140%;
    position: absolute;
    margin-top: 250px;
    margin-left: -55px;
    height: 500px;
}

.hero .chart {
    -webkit-animation: moveWave 5s both ease-in-out infinite;
    -moz-animation: moveWave 5s both ease-in-out infinite;
    -o-animation: moveWave 5s both ease-in-out infinite;
    animation: moveWave 5s both ease-in-out infinite;
}

.hero .chart canvas {
    position: absolute;
}

@keyframes moveWave {
    0% {
        margin-left: -55px;
    }
    50% {
        margin-left: -65px;
    }
    100% {
        margin-left: -55px;
    }
}

.hero .menu {
    position: absolute;
    margin-left: 15%;
    margin-top: 647px;
    height: 55px;
    background-color: #F2F3F5;
    width: 70%;
    border-radius: 3px 3px 0 0;
    padding: 0 2%;
    line-height: 55px;
}

.hero .menu a {
    font-size: 15px;
    font-weight: normal;
    color: #3C3F50;
    display: inline-block;
    margin: 0 15px;
    text-transform: uppercase;
}

.hero .menu a:first-child {
    margin-left: 0;
}

.hero .menu a.active,
.hero .menu a:hover {
    border-bottom: 2px solid #E9908A;
}

.hero .menu .search {
    float: right;
    height: 55px;
    display: inline-block;
    border-bottom: 1px solid #ccc;
    /*background-color: #222;*/
}

.hero .menu .search input {
    height: 50px;
    line-height: 50px;
    padding: 0 7px;
    font-size: 15px;
    width: 200px;
    color: #3C3F50;
}

.up.animated {
    position: fixed;
    bottom: 70px;
    right: 2%;
    width: 50px;
    height: 50px;
    font-size: 38px;
    text-align: center;
    border-radius: 50%;
    transition: all .3s;
    z-index: 2;
    background-color: rgba(60, 63, 80, .5);
    color: #FFF;
}

.up:hover {
    background-color: #3C3F50;
}

.video-list {
    margin-top: 70px;
    width: 70%;
    margin-left: 15%;
}

.thumb {
    height: 483px;
    background-color: #FFF;
    float: left;
    margin: 2.5%;
    display: inline;
    width: 45%;
    box-shadow: 0 7px 40px rgba(0, 0, 0, .2);
    border-radius: 5px;
    transition: box-shadow .3s;
}

.thumb:hover {
    box-shadow: 0 7px 60px rgba(0, 0, 0, .3);
}

.thumb .img {
    border-radius: 5px 5px 0 0;
}

.thumb .img.angular {
    background-color: #CB2721;
}

.thumb .img.html {
    background-color: #D3421D;
}

.thumb .img.js {
    background-color: #F0DB4F;
}

.thumb .img.css {
    background-color: #0093FF;
}

.thumb .img.node {
    background-color: #A6ED1E;
}

.thumb .img.sublime {
    background-color: #424242;
}

.thumb .img.podcast {
    background-color: #DC4D41;
}

.thumb .img.podcast img {
    width: 25%;
    margin: 17.4% 37.5%;
}

.thumb .img img {
    margin: 5% 25%;
    width: 50%;
}

.thumb .wrapper {
    padding: 5%;
    color: #3C3F50;
}

.thumb .wrapper h3 {
    font-weight: normal;
}

.thumb .wrapper p {
    text-overflow: ellipsis;
}

.thumb .wrapper * {
    margin-top: 5%;
}

.thumb .wrapper .info {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.thumb .wrapper .info span {
    color: #E9908A;
    margin: 0 15px 0 0;
}

.video-list .btn {
    width: 200px;
    display: block;
    margin: 20px auto;
    text-align: center;
}

.end {
    display: block;
    margin-top: 100px;
    height: 450px;
}

.end div {
    float: left;
    width: 50%;
    display: inline-block;
}

.end h3 {
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 10%;
    text-transform: uppercase;
}

.end .part-1 {
    color: #D9ED69;
    background-color: #293D7C;
}

.end .part-2 {
    color: #293D7C;
    background-color: #D9ED69;
}

.end img {
    width: 30%;
    margin: 10% 35% 5% 35%;
}

.start {
    font-size: 20px;
    text-align: center;
    padding: 70px 0 90px 0;
}

.start h1 {
    margin-bottom: 20px;
}

.start .click-here {
    margin-top: 30px;
    position: absolute;
    text-transform: uppercase;
    color: rgba(41, 61, 124, 0.5);
    animation-duration: 10s;
}

.start .click-here .pe-7s-angle-left {
    line-height: 25px;
    font-size: 18px;
}

.start .btn {
    background-color: #E9908A;
    color: #F2F3F5;
    font-weight: normal;
}

@media only screen and (max-width: 1220px) {
    .hero .menu {
        margin-left: 1%;
        width: 98%;
    }
}